/* To hide steps in modal */
.hidden {
    display: none;
}

/* Paywall Overlay */
#paywall-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Darkens background */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(5px); /* Blurs background content */
}

/* Paywall Modal */
#paywall-modal {
    background: white;
    padding: 50px 40px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    z-index: 10000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Button styling */
.button-container {
    display: flex;
    flex-direction: column; /* Stacks buttons vertically */
    justify-content: center; /* Vertically centers the items */
    align-items: center; /* Horizontally centers the items */
}

.btn {
    padding: 5px 15px;
    border: none;
    background: #60C0B2;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px;
    Text-transform: uppercase;
    font-weight: bolder;
    font-size: 0.9rem;
    white-space: nowrap;
}
.btn-option {
    padding: 10px;
    min-width: 80%;
    max-width: 90%;
    font-size: 1rem;
    color: #173E5A;
    border-radius: 5px;
    background: none;
    border: 1px solid #173E5A;
    Text-transform: uppercase;
    font-weight: 500;
    white-space: nowrap;
}

/* Active button style */
.btn-option.active {
    background-color: #173E5A; /* Active background color */
    color: white; /* White text when active */
    border: 1px solid #173E5A; /* Ensure border matches background when active */
}

/* Input field */
.input-field {
    margin: 10px 0;
    padding: 10px;
    min-width: 80%;
    max-width: 90%;
    font-size: 1rem;
    border: 1px solid #173E5A;
    border-radius: 5px;
    box-sizing: border-box;  /* Ensures padding doesn't affect the overall width */
}

.input-field::placeholder {
    color: #173E5A;  /* Gray color for the placeholder text */
    opacity: 0.4;  /* Make the placeholder text slightly transparent */
    font-weight: 250;
    font-size: 1rem;
}

/* Typography */
.text{
    font-family: 'stevie sans', sans-serif;
    font-size: 1rem;
    font-weight: 150;
    line-height: 1.1;
    color: #173E5A;
}
.text-header {
    font-size: 2rem; /* Large header */
    font-weight: 350;
}

.text-header2 {
    font-size: 1.25rem; /* Large header */
    font-weight: 250;
}

.text-subheader {
    font-size: 1.1rem; /* Sub-header */
}

.text-body {
    font-size: 1rem; /* Regular body text */
}

.text-small {
    font-size: 0.9rem; /* Smaller body text */
}

.text-fineprint {
    font-size: 0.8rem; /* Fine print */
    font-weight: 100;
}

/* Hide the default checkbox */
.checkbox {
    display: none;
  }
  
  /* Style the custom checkbox */
  .custom-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  
  .checkbox-label {
    position: relative;
    padding-left: 20px;  /* Space for custom checkbox */
    font-size: 0.8rem;
    user-select: none;   /* Prevent text selection */
  }
  
  /* The custom checkbox */
  .checkbox-label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid #173E5A;
    border-radius: 2px;
    background-color: white;
    transition: background-color 0.3s, border 0.3s;
  }
  
  /* Style when the checkbox is checked */
  .checkbox:checked + .checkbox-label::before {
    border-color: #173E5A;
  }
  
  /* Add a checkmark when checked */
  .checkbox:checked + .checkbox-label::after {
    content: '✔';
    position:absolute;
    left: 2px;
    top: 2px;
    color: #173E5A;
    font-size: 1rem;
    font-weight: 100;
  }  

/* Responsive text scaling for mobile */
@media (max-width: 768px) {
    .text-header {
        font-size: 1.8rem;
    }

    .text-subheader {
        font-size: 1.3rem;
    }

    .text-body {
        font-size: 1.1rem;
    }

    .text-small {
        font-size: 0.9rem;
    }

    .text-fineprint {
        font-size: 0.7rem;
    }
}

.hidden {
    display: none;
}

